.u-center-it{
	text-align: center !important;
} 

.u-margin-top-small {
	margin-top: 3rem !important;  
}

.u-margin-bottom-big {
	margin-bottom: 8rem !important;  

	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important;  
}

.u-margin-bottom-medium {
	margin-bottom: 4rem !important;  

	@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}
}

.u-margin-zero-auto {
	margin: 0 auto !important;
}

.u-margin-top-huge {
	margin-top: 10rem !important;
}

// bgs for easy, hard and medium of card.

.u-add-gradient-bg--1 {
	background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
	background-clip: text;
	color: transparent;

}

.u-add-gradient-bg--2 {
	background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
	background-clip: text;
	color: transparent;

}

.u-add-gradient-bg--3 {
	background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
	background-clip: text;
	color: transparent;

}

.u-bold-text {
	font-weight: 700;
}